html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  font: normal 14px "PT Sans";
  color: #FFFFFF;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  background: #000000;
}

.content {
  flex: 1 1 auto;
}

.container {
  box-sizing: border-box;
  max-width: 1248px;
  padding: 0 14px;
  margin: 0 auto;
}

@media only screen and (max-width: 1366px) {
  .container {
    width: 1248px;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 70px;
}
.title::after {
  height: 1px;
  width: 120px;
  content: "";
  position: absolute;
  bottom: -40px;
  left: calc(50% - 60px);
  background-color: #FFFFFF;
}

.title_new-collection__banner {
  margin-bottom: 60px;
}
.title_new-collection__banner::after {
  bottom: -30px;
}

.text {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.button {
  padding: 12px 28px;
  min-width: 138px;
  min-height: 47px;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
  text-decoration: none;
}

.catalog__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item {
  margin: 20px 25px;
}

@media screen and (max-width: 600px) {
  .catalog__item {
    margin: 5px 0;
  }
}
.item__img-wrapper {
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191B1C;
}

.item__img {
  width: 100%;
}

.item__name {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 24px;
}

.item__cost {
  margin-top: 10px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

.header {
  background-color: #000000;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__header {
  display: flex;
  justify-content: space-between;
  color: #969696;
}

.header__telephone {
  font-size: 12px;
  padding: 0 0 0 30px;
  background: url("../img/phone.svg") left no-repeat;
  color: inherit;
}

.header__log-in-sing-up {
  padding: 0px 0px 0px 23px;
  font-size: 12px;
  background: url("../img/sing-up.svg") left no-repeat;
  text-decoration: none;
  color: inherit;
}
.header__log-in-sing-up:hover, .header__log-in-sing-up:active {
  text-decoration: underline;
}

.header__body {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-menu__logo {
  display: none;
}

.menu {
  height: 100%;
  display: flex;
}

@media screen and (min-width: 800px) {
  .menu-burger, .menu-burger__wrapper {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .mobile-menu__logo {
    display: block;
    margin: 20px auto;
    width: 100px;
  }

  body.lock {
    overflow: hidden;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: block !important;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 1s;
    overflow: scroll;
    background-color: #000000;
  }

  .menu__list {
    display: block !important;
  }

  .menu__item {
    height: 100px !important;
  }

  .menu.active {
    display: block;
    right: 0;
  }

  .active > .menu-burger {
    top: 30px;
    right: 20px;
    position: fixed;
    height: 0;
  }
  .active > .menu-burger:before {
    transition: 0.2s;
    transform: translateY(7px) rotate(-45deg);
  }
  .active > .menu-burger:after {
    transition: 0.2s;
    transform: translateY(-6px) rotate(45deg);
  }
}
.menu__list {
  display: flex;
  list-style: none;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 100%;
  padding: 31px 20px;
}

.menu__item_active, .menu__item:hover {
  background: #1F1F1F !important;
}
.menu__item_active .menu__link, .menu__item:hover .menu__link {
  color: #FFFFFF !important;
}

.menu__link {
  color: #969696;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-burger__wrapper {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191b1c;
}

.menu-burger {
  content: " ";
  width: 30px;
  height: 3px;
  border-radius: 5px;
  position: relative;
  background-color: #FFFFFF;
}
.menu-burger:before {
  transition: 0.2s;
  display: block;
  content: " ";
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  bottom: 7px;
}
.menu-burger:after {
  transition: 0.2s;
  display: block;
  content: " ";
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
  top: 4px;
}

.footer {
  height: 50px;
  background-color: #000000;
}

.footer__container {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer__copyright {
  font-size: 12px;
  color: #D0D0D0;
}

.footer__producer {
  color: #FFFFFF;
  text-decoration: none;
}

.intruduction {
  height: 810px;
  background: url("../img/introduction__bg.jpg");
}

.introduction__container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inroduction__text {
  max-width: 730px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.new-collection {
  min-height: 730px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.new-collection__catalog {
  flex: 1 1 50%;
  padding: 0 80px;
  box-sizing: border-box;
  background: #000000;
}
.new-collection__catalog .catalog__row {
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1366px) {
  .new-collection__catalog {
    flex: 1 1 100%;
  }

  .new-collection__banner {
    flex: 1 0 100%;
  }
}
@media only screen and (max-width: 690px) {
  .new-collection__catalog {
    flex: 1 1 100%;
  }
  .new-collection__catalog .catalog__row {
    flex-wrap: wrap;
  }
}
.title_new-collection__catalog {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 100px;
}
.title_new-collection__catalog::after {
  bottom: -50px;
}

.new-collection__banner {
  flex: 1 0 50%;
  padding-bottom: 100px;
  background: url("../img/new-collection__banner-bg.jpg") no-repeat 50% 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.old-collection {
  min-height: 600px;
  display: flex;
}

.old-collection__banner {
  min-width: 880px;
  background: url("../img/old-collection__bg.jpg") no-repeat;
  flex: 1 1 40%;
}

@media screen and (max-width: 1366px) {
  .old-collection__banner {
    display: none;
  }
}
.old-collection__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #000000;
  flex: 1 1 60%;
}

.old-collection__text {
  align-self: center;
  max-width: 471px !important;
}

.old-collection__button {
  margin-top: 70px;
}

.new-products {
  min-height: 1290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000000;
}

.our-brends {
  background: #0F0F0F;
}

.our-brends__container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.our-brends__brends {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (max-width: 1050px) {
  .our-brends__brends {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
.brends_brend {
  width: auto;
}

.other {
  background-image: url("../img/other__bg.jpg");
  min-height: 400px;
  display: flex;
}

.other__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.other__category {
  width: 30%;
}

@media screen and (max-width: 800px) {
  .other {
    padding-bottom: 50px;
  }

  .other__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .other__category {
    width: 70%;
  }
}
.other__title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.other__text {
  font-size: 14px;
  line-height: 150%;
}

.other__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.other__button {
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background: #0F0F0F;
}

.subscribe {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  height: 42px;
}

.subscribe__email {
  width: 210px;
  height: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
}
.subscribe__email::placeholder {
  color: #C0C0C0;
}

.subscribe__button {
  height: 100%;
  width: 140px;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #0F0F0F;
}
.subscribe__button:hover {
  cursor: pointer;
}