
.catalog__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.catalog__item {
	margin: 20px 25px;
}
@media screen and(max-width: 600px){
	.catalog__item {
		margin: 5px 0;
	}
}
.item__img-wrapper {
	width: 100%;
	height: 325px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #191B1C;
}
.item__img {
	width: 100%;
}
.item__name {
	margin-top: 25px;
	margin-bottom: 10px;
	font-family: Playfair Display;
	font-size: 18px;
	line-height: 24px;
}
.item__cost {
	margin-top: 10px;
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;


	color: #D0D0D0;

}