.header {
	background-color: #000000;
}
.header__container {
	display: flex;
	flex-direction: column;
}
.header__header {
	display: flex;
	justify-content: space-between;

	color: #969696;
}
.header__telephone {
	font-size: 12px;
	padding: 0 0 0 30px;
	background: url('../img/phone.svg') left no-repeat;
	color:inherit;
}
.header__log-in-sing-up {

	padding: 0px 0px 0px 23px;
	font-size: 12px;
	background: url('../img/sing-up.svg') left no-repeat;

	text-decoration: none;
	color:inherit;
	&:hover,&:active{
		text-decoration:underline;
	}
}
.header__body {
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
}
.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mobile-menu__logo{
	display: none;
}
.logo__image {}
.menu {
	height: 100%;
	display: flex;
}
@media screen and(min-width: 800px){
	.menu-burger,.menu-burger__wrapper{
		display: none !important; 
	}

}
@media screen and(max-width: 800px){
	.mobile-menu__logo{
		display: block;
		margin: 20px auto;
		width: 100px;
	}
	body.lock{
		overflow: hidden;
	}
	.menu{
		width: 100%;
		height: 100%;
		display: block !important;
		position: fixed;
		top:0;
		right: -100%;
		transition: 1s;

		overflow: scroll;

		background-color: #000000;
	}
	.menu__list{
		display: block !important;
	}
	.menu__item{
		height: 100px !important;
	}
	.menu.active{
		display: block;
		right: 0;
	}
	.active>.menu-burger{
		top:30px;
		right: 20px;
		position: fixed;
		height: 0;
		&:before{
			transition: 0.2s;
			transform:  translateY(7px) rotate(-45deg);
		}
		&:after{
			transition: 0.2s;
			transform:  translateY(-6px) rotate(45deg);
		}
	}
}
.menu__list {
	display: flex;
	list-style:none;
}
.menu__item {
	display: flex;
	justify-content: center;
	align-content: center;
	box-sizing: border-box;

	flex: 1 0 auto;
	height: 100%;
	padding: 31px 20px;
}
.menu__item_active,.menu__item:hover{
	background: #1F1F1F !important;
	& .menu__link{
		color:#FFFFFF !important;
	}
}
.menu__link {
	color: #969696;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-burger__wrapper{
	width: 50px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #191b1c;
}
.menu-burger{
	content: " ";
	width: 30px;
	height: 3px;
	border-radius:5px;

	position: relative;

	background-color: #FFFFFF;
	&:before{
		transition: 0.2s;
		display: block;
		content:" ";
		width: 30px;
		height: 3px;
		border-radius:5px;
		background-color: #FFFFFF;
		position:relative;
		bottom: 7px;
	}
	&:after{
		transition: 0.2s;
		display: block;
		content: " ";
		width: 30px;
		height: 3px;
		border-radius:5px;
		background-color: #FFFFFF;	

		position:relative;
		top: 4px;
	}
}