.new-collection {
	min-height: 730px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.new-collection__catalog {
	flex: 1 1 50%;
	padding: 0 80px;
	box-sizing: border-box;
	background: #000000;
	.catalog__row{
		flex-wrap: nowrap;
	}
}
@media only screen and (max-width : 1366px) {
	.new-collection__catalog {
		flex: 1 1 100%;
	}
	.new-collection__banner {
		flex: 1 0 100%;
	}
}
@media only screen and (max-width : 690px)   {
	.new-collection__catalog {
		flex: 1 1 100%;
		.catalog__row{
			flex-wrap: wrap;
		}
	}
}
.title_new-collection__catalog{
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 100px;
	&::after{
		bottom: -50px;
	}
}

.new-collection__banner {
	flex: 1 0 50%;
	padding-bottom: 100px;
	background: url('../img/new-collection__banner-bg.jpg') no-repeat 50% 0%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
