.old-collection {
	min-height: 600px;
	display: flex;
}
.old-collection__banner {
	min-width: 880px;
	background: url('../img/old-collection__bg.jpg') no-repeat;
	flex: 1 1 40%;
}
@media screen and (max-width: 1366px)
{
	.old-collection__banner{
		display: none;
	}
}
.old-collection__info {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background: #000000;
	flex: 1 1 60%;
}
.old-collection__text{
	align-self: center;
	max-width: 471px !important;
}
.old-collection__button{
	margin-top: 70px;
}