//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// end reset
body *{
	font: normal 14px 'PT Sans';
	color:#FFFFFF;
}

.wrapper {
	max-width: 1920px;
	min-height: 100%;
	overflow: hidden;
	background: #000000;
}
.content {
	flex: 1 1 auto;
}
.container {
	box-sizing: border-box;
	max-width: 1248px;
	padding: 0 14px;
	margin: 0 auto;
}
@media only screen and (max-width : 1366px) {.container{width:1248px;}}
@media only screen and (max-width : 1280px) {.container{width:1024px;}}
@media only screen and (max-width : 1024px) {.container{width:800px;}}
@media only screen and (max-width : 800px)  {.container{width:768px;}}
@media only screen and (max-width : 768px)  {.container{width:600px;}}
@media only screen and (max-width : 600px)  {.container{width:100%}}
.title {
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	&::after{
		height: 1px;
		width: 120px;

		content: '';
		position: absolute;
		bottom: -40px;
		left: calc(50% - 60px);
		background-color: #FFFFFF;
	}
	margin-bottom: 70px;
}

.title_new-collection__banner{
	&::after{
		bottom: -30px;
	}
	margin-bottom: 60px;
}

.text {
	font-size: 14px;
	line-height: 150%;

	text-align: center;
}


.button {
	
	padding: 12px 28px;
	min-width: 138px;
	min-height:47px;
	box-sizing: border-box;
	border:1px solid white;

	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	margin: 0 auto;

	text-decoration: none;
}
@import 'catalog.scss';


@import 'header.scss';
@import 'footer.scss';
@import 'introduction.scss';
@import 'new-collection.scss';
@import 'old-collection.scss';
@import 'new-products.scss';
@import 'our-brends.scss';
@import 'other.scss';